
#------------------------------------------------------------------
# ex : crioVersion={crio version}
# ex : k8sVersion={kubernetes version}
# ex : apiServer={kubernetes API server ip}
# ex : podSubnet={POD_IP_POOL}/{CIDR}
# ex : calicoVersion={calico plugin version}
#------------------------------------------------------------------
#------------------------------------------------------------------
# ex : crioVersion=1.22
# ex : k8sVersion=1.22.2
# ex : apiServer=172.21.7.121
# ex : podSubnet=10.244.0.0/16
# ex : calicoVersion=3.20
#------------------------------------------------------------------

#kubernetes 
crioVersion=1.22
k8sVersion=1.22.2
apiServer=172.21.7.121
podSubnet=10.244.0.0/16

#plugin
#If nothing is specified, the default version is installed.
calicoVersion=
