#!/bin/bash

# jq / kustomize 

#------------------------------------------------------------------
# ex : cniVersion={cni version}
# ex : k8sVersion={kubernetes version}
# ex : apiServer={kubernetes API server ip}
# ex : podSubnet={POD_IP_POOL}/{CIDR}
# ex : calicoVersion={calico plugin version}
# ex : kubevirtVersion={kubevirt plugin version}
#------------------------------------------------------------------
#------------------------------------------------------------------
# ex : crioVersion=1.4.0
# ex : k8sVersion=1.29.0
# ex : apiServer=172.21.7.121
# ex : podSubnet=10.244.0.0/16
# ex : calicoVersion=3.27.0
#------------------------------------------------------------------

#kubernetes
cniVersion=1.4.0
k8sVersion=1.29.0
apiServer=172.22.7.121
podSubnet=10.244.0.0/16

#plugin
#If nothing is specified, the default version is installed.
calicoVersion=

#------------------------------------------------------------------
# ex : HPCD_MODE=single
# ex : HPCD_API_SERVER_VERSION=5.0.10.0
# ex : HPCD_TIMESCALEDB_VERSION=5.0.0.1
# ex : KAFKA_ENABLED=false
# ex : API_SERVER_LOG_LEVEL=INFO                                 ## TRACE, DEBUG, INFO, WARN, ERROR, FATAL
# ex : TIMESCALEDB_LOG_LEVEL=INFO                                ## DEBUG5, ..., DEBUG1, INFO, NOTICE, WARNING, ERROR, LOG, FATAL, PANIC

# ex : CUSTOM_DOMAIN=tmaxcloud.org                               ## domain for hypercloud
# ex : CONSOLE_SUBDOMAIN=tmaxcloud-console                       ## subdomain for hypercloud console

# ex : REGISTRY=192.168.6.171:5000                               ## do not modify if you don't use private repo

#------------------------------------------------------------------
# common
HPCD_MODE=single
HPCD_API_SERVER_VERSION=5.0.34.1
HPCD_TIMESCALEDB_VERSION=5.0.0.0
KAFKA_ENABLED=false
API_SERVER_LOG_LEVEL=INFO
TIMESCALEDB_LOG_LEVEL=WARNING

REGISTRY={REGISTRY}

#------------------------------------------------------------------

# ex : POSTGRES_VERSION=9.6.2-alpine
# ex : HYPERAUTH_SERVER_VERSION=latest
# ex : KAFKA_VERSION=2.12-2.0.1
# ex : ZOOKEEPER_VERSION=3.4.6
# ex : HYPERAUTH_LOG_COLLECTOR_VERSION=b0.0.0.14
# ex : MAIN_MASTER_IP=192.168.6.171
# ex : MASTER_NODE_ROOT_PASSWORD=tmax@23
# ex : MASTER_NODE_ROOT_USER=root
# ex : REGISTRY=192.168.6.171:5000

#------------------------------------------------------------------

# common
HYPERAUTH_VERSION=latest

MAIN_MASTER_IP={MAIN_MASTER_IP}
MASTER_NODE_ROOT_PASSWORD={MASTER_NODE_ROOT_PASSWORD}
MASTER_NODE_ROOT_USER={MASTER_NODE_ROOT_USER}
REGISTRY={REGISTRY}
