## Image Registry
# 퍠쇄망 설치 시 이미지 레지스트리 주소 입력, 아닐 경우 입력 x
REGISTRY=''

## Console Version
CONSOLE_VER="5.0.82.3"

## HyperAuth
# hyperauth(keycloak)에서 설정한 REALM정보 입력
# 예시) REALM="tmax"
REALM='tmax'
#hyperauth ip 주소 혹은 도메인 주소 입력 (같은 클러스터 내에 존재한다면, kubectl get svc -n hyperauth hyperauth로 조회가능)
# 예시) KEYCLOAK="hyperauth.org"
KEYCLOAK='{HYPERAUTH_IP}'

# hyperauth(keycloak)에서 설정하 Client Id 정보 입력
# 예시) CLIENTID="hypercloud5"
CLIENTID='hypercloud5'

## Console configs
# Multi Cluster 모드로 설치하려는 경우 true 입력 (Single Cluster 모드이 경우 false)
MC_MODE=false
# Console 서버의 release 모드 설정 (default = true) 제품으로 배포 시 true로 입력
RELEASE_MODE=true